*.class

# Package Files #
*.jar
*.war
*.ear
/target/
/persistence-jeeventstore/target/
/core/target/
/persistence-jeeventstore-ejb/target/
/persistence-jeeventstore-infra-jpa/target/
/persistence-jeeventstore-infra-gson/target/
/persistence-jeeventstore-sync-ejb/target/